*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', cursive;
    box-sizing: border-box;
}
body{
    background-clip: border-box;
    background-image: url(AI-Tools-Blog-Post-scaled.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    
}

h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
    font-size: 50px;
    transition: color 0.3s ease;
    transition: transform 0.8s;
}
h1:hover
{
  color: rgb(99, 51, 6);
  transform: scale(0.8);
  
}
h3{
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: rgb(95, 66, 16);
}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    border-top: #000000;
    border-left: #000000;
    background: rgba(8, 186, 199, 0.16);
    box-shadow: 20px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    box-shadow:20px 25px 15px rgb(30, 30, 30);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: rgb(15, 15, 15);
    font-size: 18px;
    padding: 0 30px;

}
form button{
    padding: 0 40px;
    height: 100%;
    background: #070707;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
::placeholder{
    color: #fff;
    font-size: 18px;
}
#show-more-btn{
    background-color: #f9f6f6;
    color: #080808;
    border: 20;
    outline: 0;
    padding: 10px 20px;
    border-radius: 40px;
    margin: 100px auto 100px;
    cursor: pointer;
    display: none;
    font-size: 25px;
    background: rgba(175, 162, 16, 0.696);
  box-shadow:5px 5px 5px 5px rgb(61, 70, 4);
  backdrop-filter: blur(200px);
  transform: scale(1.1);
  transition: transform 0.8s;
    
}
#search-result {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
    padding: 20px;
}

#search-result img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.8s;
}
#search-result img{
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1px; 
  margin-block: 15px;
  color: #fff;
  padding: 50px 35px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow:35px 35px 35px rgb(30, 30, 30);
  backdrop-filter: blur(5px);
  transition: transform 0.8s;
  
}
#search-result img:hover{
transform: scale(1.1);
}

@media (max-width: 768px) {
    #search-result {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    #search-result {
        grid-template-columns: 1fr;  // Stacks images in a single column on small screens
    }
}
#about{
    width: fit-content;
    font-size: 20px;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #0a0a0a;
  text-shadow: #000000;
  box-shadow: #000000;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: rgb(252, 129, 14);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #000000;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background:transparent;

  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* .gcse-search
{
  width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    border-top: #000000;
    border-left: #000000;
    background: rgba(8, 186, 199, 0.16);
    box-shadow: 20px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    box-shadow:20px 25px 15px rgb(30, 30, 30);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
} */
/* .gcse-search input{
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Use the full height of the viewport */
    /*margin-left: 100px;  Remove default margin 
}

} */



.icon {
  display: flex;
  padding: 20px;
}
div.icon a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

div.icon a i {
  color: #000000;
  font-size: 50px;
}
div.icon i:hover {
  color: #001eff;
}
div.icon .linkedin {
  padding-right: 30px;
}
div.icon .gmail {
  padding-right: 30px;
}
div.icon .instragram {
  padding-right: 30px;
}
div.icon .facebook {
  padding-right: 30px;
}
